img {
    width: 450px;
    height: 300px;
    opacity: 35%;
}

.Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-icon {
    position: relative;
    display: inline-flex;
  }
  
  .icon-tag {
    position: absolute;
    position: absolute;
    top: 35%;
    right: 38%;
    z-index: 1;
  }