.backgroundIssues {
    background-color: #51d0e6;
}

.mediumPaddingTop {
    padding-top: 15rem;
}

.mediumPaddingBottom {
    padding-bottom: 15rem;
}

.smallPaddingTop {
    padding-top: 6rem;
}

.reloadImage {
    display: block;
    max-width: 20%;
    height: auto;
}