.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* background-color: #51D0E6; */
}


.navbar_brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.navbar_items {
    display: flex;
    align-items: center;
}

.navbar_label {
    margin-right: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #51d0e6;
}

.navbar_button {
    background-color: #51d0e6;
    color: #000000;
    border: none;
    cursor: pointer;
}

.navbar_button:hover,
.navbar_label:hover {
    color: #ffffff;
}
