.map-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.map {
  height: 60vh;
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  border: 1px solid gray;
  background-color: rgb(125, 193, 220);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border-radius: 5px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}